
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503061259056'); /* IE9*/
  src: url('iconfont.eot?t=1503061259056#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503061259056') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503061259056') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503061259056#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letter-f-outline:before { content: "\e677"; 
    font-size: 36px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.icon-liwu:before { content: "\e862"; 
    font-size: 36px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
}
.icon-liwu2:before { content: "\e862"; 
    font-size: 25px;
    color: #616161;
  }

.icon-zuo:before { content: "\e636"; }

.icon-you:before { content: "\e637"; }

.icon-15:before { content: "\e639"; 
    font-size: 25px;
    color: #616161;
}

.icon-sim:before { content: "\e625"; 
    font-size: 36px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.icon-xuangoushouji:before { 
    content: "\e601"; 
    font-size: 36px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);

  }
#zxbjbox:hover .icon-xuangoushouji:before{
  color: #fff;
}
#zxbjbox:hover .icon-sim:before{
  color: #fff;
}
#zxbjbox:hover .icon-liwu:before{
  color: #fff;
}
#zxbjbox:hover .icon-yijiuhuanxin:before{
  color: #fff;
}
#zxbjbox:hover .icon-huafeichongzhi:before{
  color: #fff;
}
#zxbjbox:hover .icon-letter-f-outline:before{
  color: #fff;
}

.icon-c:before { content: "\e66b"; }

.icon-sousuo:before { 
  content: "\e616"; 
  color: #616161;
  margin-left: 12px;
  font-size: 24px;
}
#sousuoyou:hover .icon-sousuo:before{
  color: #fff;
}

.icon-weixiu1:before { content: "\e62f"; 
    font-size: 25px;
    color: #616161;
}
.xbsbox11:hover:hover .icon-weixiu1:before{
    color: #ff6700;
}
.xbsbox12:hover:hover .icon-icon-test:before{
    color: #ff6700;
}
.xbsbox13:hover:hover .icon-15:before{
    color: #ff6700;
}
.xbsbox14:hover:hover .icon-liwu2:before{
    color: #ff6700;
}
.xbsbox15:hover:hover .icon-dingwei:before{
    color: #ff6700;
}
.icon-gouwuche:before { content: "\e6be"; }
 .icon-gouwuche:before:hover{
  background: #fff;
  color: #ff6700;
 }

.icon-gengduo:before { content: "\e60b";
    font-size: 48px;
    line-height: 48px;
    position: absolute;
    left: 151px;
    top: 48px;
    color: #ff6700;
}

.icon-icon-test:before { content: "\e627"; 
    font-size: 25px;
    color: #616161;
}

.icon-gift:before { content: "\e600"; }

.icon-dingwei:before { content: "\e62e"; 
    font-size: 25px;
    color: #616161;
    }

.icon-duihuakuang:before { content: "\e61c"; 

}

.icon-yijiuhuanxin:before { content: "\e60f"; 
    font-size: 36px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.icon-huafeichongzhi:before { content: "\e610";
    font-size: 36px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
 }

